<div class="container" style="width:100%">
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
                           <div class="panel-heading">
                              <div class="panel-title">Finalizar Nota Médica</div>
                           </div>
                           <!-- START list group-->
                           <div class="list-group">
							  <!-- START list group item-->
							  <a href=""  ng-click="irDocumentos()">
								<div class="list-group-item">
									<div class="media">
										<div class="pull-left">
										<span class="fa-stack fa-lg">
											<em class="fa fa-circle fa-stack-2x text-purple"></em>
											<em class="fa fa-arrow-left fa-stack-1x fa-inverse text-white"></em>
										</span>
										</div>
										<div class="media-body clearfix">
										<div class="media-heading text-purple m0">Ir a Documentos</div>
										<small class="text-muted pull-right"></small>
										<p class="m0">
											<!-- <small>A new uploaded file <a href="#">Bootstrap.xls </a> is now on the cloud</small> -->
										</p>
										</div>
									</div>
								</div>
								</a>
							  <!-- END list group item-->
							  <!-- START list group item-->
							  <a href="" ng-click="imprimirNota()">
								<div class="list-group-item">
									<div class="media">
										<div class="pull-left">
										<span class="fa-stack fa-lg">
											<em class="fa fa-circle fa-stack-2x text-info"></em>
											<em class="fa fa-print fa-stack-1x fa-inverse text-white"></em>
										</span>
										</div>
										<div class="media-body clearfix">
										<div class="media-heading text-info m0">Imprime Nota Médica</div>
										<small class="text-muted pull-right"></small>
										<p class="m0">
											<!-- <small>New document <a href="#">Bootstrap.doc </a> created</small> -->
										</p>
										</div>
									</div>
								</div>
								</a>
                              <!-- END list group item-->
							  <!-- START list group item-->
							  <a  href="#/solicitud/{{folio}}">
								<div class="list-group-item">
									<div class="media">
										<div class="pull-left">
										<span class="fa-stack fa-lg">
											<em class="fa fa-circle fa-stack-2x text-success"></em>
											<em class="fa fa-paper-plane fa-stack-1x fa-inverse text-white"></em>
										</span>
										</div>
										<div class="media-body clearfix">
										<div class="media-heading text-info m0">Generar Solicitud de Autorización</div>
										<small class="text-muted pull-right"></small>
										<p class="m0">
											<!-- <small>New document <a href="#">Bootstrap.doc </a> created</small> -->
										</p>
										</div>
									</div>
								</div>
								</a>
                              <!-- END list group item-->
							  <!-- START list group item-->
							  <a  href="" ng-click="imprimirConcentimiento()">
								<div class="list-group-item">
									<div class="media">
										<div class="pull-left">
										<span class="fa-stack fa-lg">
											<em class="fa fa-circle fa-stack-2x text-danger"></em>
											<em class="fa fa-print fa-stack-1x fa-inverse text-white"></em>
										</span>
										</div>
										<div class="media-body clearfix">
										<div class="media-heading text-danger m0">Consentimiento Informado</div>
										<small class="text-muted pull-right"></small>
										<p class="m0">
											<small>Imprimir
											
											 </small>
										</p>
										</div>
									</div>
								</div>
							  </a>
                              <!-- END list group item-->
                              
								
                              <!-- END list group item-->
                           </div>
                           <!-- END list group-->

                        </div>
		</div>
	</div>
	<div ng-show="cargador1" class="row"> 
        <div class="col-md-12">
	          <div  align="center">
	            <img ng-src="imgs/cargador.gif">
	          </div>
        </div>
    </div> 

		 <!--     MODAL PARA SOLICITUDES DE CORTA ESTANCIA  ---------------------------------------------------------------->
		 
		 

<div class="modal fade" id="SolicitarCortaEstancia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	   <form name="validaFactura" ng-submit="solicitarFormatos()">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Corta Estancia</h4>
		      </div>
	      	<div class="modal-body">
	      		<div class="row" ng-hide="verSolicitudCE">
		       		 <div class="col-md-12" align="center">                        
                            <span class="alert alert-warning">No se ha hecho la solicitud de formatos de corta estancia</span>
                                                                           
                    </div>                    
                </div>
                <br>
			<div class="mianimacion" ng-show="verSolicitudCE">	      	
		      	<div class="row">
		       		 <div class="col-md-6">                        
                        <div class="cajaInputArriba">
                            <span>Motivo</span>
                        </div>
                        <textarea rows="3" id="mecLesion" ng-model="solicitudCE.motivo" name="mecLesion"  onpaste="return false" style="resize:none; width:100%" required mayusculas></textarea>                                                               
                     </div>                             
                    <div class="col-md-6" >
                       <div class="cajaInputArriba">
                            <span>Tiempo estimado de estancia</span>
                        </div>
                        <div class="bordeInput">
							<label class="radio-inline c-radio">
							<input type="radio" name="Emb" id="Emb" value="4" ng-model="solicitudCE.tiempo" required/>
							<span class="fa fa-circle"></span>4</label>
							<label class="radio-inline c-radio">
							<input type="radio" name="Emb" id="Emb" value="8" ng-model="solicitudCE.tiempo" required/>
							<span class="fa fa-circle"></span>8</label>     
							<label class="radio-inline c-radio">
							<input type="radio" name="Emb" id="Emb" value="12" ng-model="solicitudCE.tiempo" required/>
							<span class="fa fa-circle"></span>12</label>
							<label class="radio-inline c-radio">
							<input type="radio" name="Emb" id="Emb" value="24" ng-model="solicitudCE.tiempo" required/>
							<span class="fa fa-circle"></span>24</label>         
                     	</div>
                    </div>
                </div>
               <div class="row">
                     	<div class="col-md-12" align="right">                     		
                  			<button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>   				
                  			<button type="submit" class="btn btn-primary">Generar Pase</button>
                     	</div>
             	</div>
               </form> 
                <div class="row" ng-show="cargador1">
                    <div class="col-md-12">
                        <div  align="center">
                                <img ng-src="imgs/cargador.gif">
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="mensajeExito">
                    <div class="col-md-12">
                        <div class="alert alert-success">Se validó correctamente</div>
                    </div>
                </div>               
            </div> 
            <div class="row" ng-hide="verSolicitudCE">
                     	<div class="col-md-12" align="right">                     		
                  			<button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>   			
                  			<input type="button" value="Solicitar" class="btn btn-primary" ng-click="verFormularioSolicitud()">                 			
                     	</div>
     		</div>                            
         </div>

</div>
