<div class="container" style="width: 100%"> 
    
 <div class="panel panel-primary">
    <div class="panel-heading">
    	<label>Elige Convenio</label>
    </div> 
</div>
  	<div class="Panel-body">
	  <div class="row">
	  	<div class="col-md-4" align="center">
	  		<a  data-dismiss="modal" href="#/infoConvenio/1" >
				<img ng-src="imgs/convenio/tarjetaInbursa.jpg" width="200" />
				<label>CONVENIO TARJETA INBURSA</label>
			</a>
	  	</div>	 
	  	<div class="col-md-4" align="center">
	  		<a  data-dismiss="modal" href="#/infoConvenio/2" >
				<img ng-src="imgs/convenio/grupo_bimbo.jpg" width="266" />
				<label>CONVENIO GRUPO BIMBO</label>
			</a>
	  	</div>
	  	<div class="col-md-4" align="center">
	  		<a  data-dismiss="modal" href="#/infoConvenio/3" >
				<img ng-src="imgs/convenio/membresiaMV.png" width="180" /><br>
				<label>MEMBRESÍA MV</label>
			</a>
	  	</div>	  		  		  	
	  </div>
	  <div class="row">
	  	
	  	<div class="col-md-4" align="center">
	  		<a data-dismiss="modal" href="#/infoConvenio/4" >
				<img ng-src="imgs/convenio/desclub.png" width="266" />
				<label>CONVENIO DESCLUB (BBVA BANCOMER)</label>
			</a>
	  	</div>	 
	  	<div class="col-md-4" align="center" style="padding-top:3em">
	  		<a  data-dismiss="modal" href="#/infoConvenio/5" >
				<img ng-src="imgs/convenio/MetLife.png" width="266" />
				<br><br><br><br>
				<label>CONVENIO METLIFE</label>
			</a>
	  	</div>	 
	  	<div class="col-md-4" align="center" style="padding-top:2.5em">
	  		<a  data-dismiss="modal" href="#/infoConvenio/6" >
				<img ng-src="imgs/convenio/elAsegurador.png" width="266" />
				<br><br><br><br>
				<label>CONVENIO EL ASEGURDOR</label>
			</a>
	  	</div>	  		  	
	  </div>
	  <div class="row">
	  		  	<div class="col-md-4" align="center">
	  		<a  data-dismiss="modal" href="#/infoConvenio/7" >
	  			<br><br><br><br>
				<img ng-src="imgs/convenio/hapag.png" width="230" />
				<br><br><br>
				<label>CONVENIO HAPAG</label>
			</a>
	  	</div>	 
	  	<div class="col-md-4" align="center" style="padding-top:3em">
	  		<a  data-dismiss="modal" href="#/infoConvenio/8" >
				<img ng-src="imgs/convenio/keken.png" width="180" />
				<br><br>
				<label>CONVENIO KEKEN</label>
			</a>
	  	</div>
	  	<div class="col-md-4" align="center" style="padding-top:3em">
	  		<a  data-dismiss="modal" href="#/infoConvenio/13" >
				<img ng-src="imgs/convenio/asiss.jpg" width="205" />
				<br>
				<label>CONVENIO ASISS</label>
			</a>
	  	</div>		 
	  </div>	  	 
	  <div class="row">
	  		  	<div class="col-md-4" align="center">
	  		<a  data-dismiss="modal" href="#/infoConvenio/14" >
	  			<br><br><br><br>
				<img ng-src="imgs/convenio/multiva.jpg" width="230"/>
				<br><br><br>
				<label>CONVENIO TARJETA MULTIVA</label>
			</a>
	  	</div>	
	  	<div class="col-md-4" align="center" style="padding-top:2.5em">
	  		<a  data-dismiss="modal" href="#/infoConvenio/15" >
	  			<br><br><br>
				<img ng-src="imgs/convenio/axa.jpg" width="290" />	
				<br><br><br><br>			
				<label>AXA CUIDADOS ESPECIALES</label>
			</a>
	  	</div>	   
	  	<div class="col-md-4" align="center" style="padding-top:2.5em">
	  		<a  data-dismiss="modal" href="#/infoConvenio/16" >
	  			<br><br><br>
				<img ng-src="imgs/convenio/cosem.jpg" width="205" />	
				<br><br><br><br>			
				<label>COSEM</label>
			</a>
	  	</div>	   	  	
	  </div>

	  <div class="row">
	  		  	<div class="col-md-4" align="center">
	  		<a  data-dismiss="modal" href="#/infoConvenio/17" >
	  			<br><br><br><br>
				<img ng-src="imgs/convenio/alianzaFrancesa.jpg" width="200"/>
				<br><br><br>
				<label>ALIANZA FRANCESA</label>
			</a>
	  	</div>	
	  	<div class="col-md-4" align="center" style="padding-top:2.5em">
	  		<a  data-dismiss="modal" href="#/infoConvenio/18" >
	  			<br><br><br>
				<img ng-src="imgs/convenio/grupo-frisa.jpg" width="275" />	
				<br><br><br><br>			
				<label>GRUPO FRISA</label>
			</a>
	  	</div>   	
	  	<div class="col-md-4" align="center" style="padding-top:2.5em">
	  		<a  data-dismiss="modal" href="#/infoConvenio/19" >
	  			<br><br><br>
				<img ng-src="imgs/convenio/revistaSiniestro.png" width="275" />	
				<br><br><br><br>			
				<label>REVISTA SINIESTRO</label>
			</a>
	  	</div>   

	  </div>

	  <div class="row">
	  		  	<div class="col-md-4" align="center">
	  		<a  data-dismiss="modal" href="#/infoConvenio/20" >
	  			<br><br><br><br>
				<img ng-src="imgs/convenio/ausa.jpg" width="200"/>
				<br><br><br>
				<label>GRUPO AUSA</label>
			</a>
	  	</div>	
	  	<div class="col-md-4" align="center" style="padding-top:2.5em">
	  		<a  data-dismiss="modal" href="#/infoConvenio/21" >
	  			<br><br><br>
				<img ng-src="imgs/convenio/scotiabank.png" width="275" />	
				<br><br><br><br>			
				<label>SCOTIABANK</label>
			</a>
	  	</div>   	
	  		  	
	  </div>
	</div>
</div>