<div class="container" style="width: 100%"> 
    
 <div class="panel panel-primary">
    <div class="panel-heading">
      <label>Detalle de Producto</label>
    </div> 
</div>
    <div class="Panel-body">
    <div class="row" ng-show="producto==15">
        <div class="col-md-12" align="center">        
        <img ng-src="imgs/logosregmv/atlas.jpg" width="400" /><br>
        <label class="alert alert-info" style="width:60%"><b>ACCIDENTE PERSONAL ESCOLAR</b><br>Se define como accidente a cualquier suceso que es provocado por una acción violenta y repentina ocasionada por un agente externo involuntario y que da lugar a una lesión. <br> En este caso el accidente se puede presentar dentro de las instalaciones de las instituciones educativas, las cuales ya cuentan con esta cobertura de seguro para cada uno de los alumnos, personal docente y administrativo.</label>       
        </div> 
        <div class="col-md-12" align="center">
          <label><b>EJEMPLO DE PASE MÉDICO ACCIDENTES ESCOLARES ATLAS</b></label>
        </div>    
        <div class="col-md-12" align="center">
        <img src="imgs/paseAPE.jpg">
        </div>
      </div>  
      
      <div class="row" ng-hide="convenio==3">
        <div class="col-md-12" align="right" >                
        <a class="btn btn-primary btn-lg" href="#/registra">Siguiente</a>
        </div>            
      </div>  
  </div>
</div>
