<h2>Informes de Rehabilitación</h2>

<div class="row">
	<div class="col-md-10">
		<h4>Paciente: {{nombre}}</h4>
		<h4>Folio: {{folio}}</h4>
	</div>

	<div class="col-md-2" align="right">
		<a href="#/documentos"><img src="imgs/back.png" width="45" title="Regresar"></a>
	</div>
</div>


<div class="row" ng-show="trabajando==true">
	<div class="col-md-12" align="center">
		<img src="imgs/cargador3.gif" width="6%">
	</div>
</div>

<hr>

<div class="row" ng-show="trabajando==false">
	<div class="col-md-12" align="center">
		<table class="table table-hover table-responsive">
		    <thead>
		      	<tr>
			        <th>#</th>
			        <th>Fecha del Informe</th>
			        <th>Medico</th>
			        <th>Usuario de Captura</th>
			        <th></th>
		      	</tr>
		    </thead>
		    <tbody>
		      	<tr ng-repeat="x in listado">
			        <td>{{ $index + 1 }}</td>
			        <td>{{x.infRehab_fecha}}</td>
			        <td>{{x.medico}}</td>
			        <td>{{x.Usu_nombre}}</td>
			        <td><input class="btn btn-info btn-xs" type="button" value="Imprimir" ng-click="imprimeNota(x.infRehab_id)"></td>
		      	</tr>
		    </tbody>
		</table>
	</div>
</div>