<style type="text/css">
	.clave > .digito{
	border-bottom: 2px dotted blue;
}
</style>
<div class="container" style="width:90%">
    <div class="panel panel-default" ng-hide="cargador">
        <div class="panel-heading">
        	<div class="row">
        		<div class="col-xs-6">
        			<label style="font-size:20px"><b>Formato de recibo</b></label>
        		</div>
        		<div class="col-xs-6" align="right" ng-show="sinRecibos">
<!--         			<input type="button" class="btn btn-primary" value="Ver Recibos" data-toggle="modal" data-target="#Reimprimir">
        			<strong><span class="digito">3</span></strong> -->

        			<button type="button" class="btn btn-primary" value="Ver Recibos" data-toggle="modal" data-target="#Reimprimir">
                        Ver recibos  <span class="badge badge-danger"><h5>{{conteoRecibo}}</h5></span>
                    </button>
        		</div>
<!--         		<div ng-show="usrLogin == 'algo'" class="col-xs-3" align="right" ng-show="sinRecibos">
        			<input type="button" class="btn btn-primary" value="Detalle Recibo" data-toggle="modal" data-target="#soporteRecibo">
        		</div> -->
            </div>
        </div><!-- End panel-heading -->
        
        <div class="panel-body">
	       	<!-- 	Inicio de formulario de recibo normal							  -->
			<div style="width:100%;"  class="container">	            				
				<div class="row">
					<div class="col-xs-6">
						<img src="imgs/logos/mv.jpg" style="widht:30%; height=30%">
					</div>
					<div class="col-xs-6" align="right">							
                    	<i>Expedici&oacute;n: </i><b>{{datos.fecExp}}</b>
                    	<input type="hidden" name="fecha" id="fecha" value="">
                    	<input type="hidden" id="fol" name="fol" value="">
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">							
	                </div>
					<div class="col-xs-6" align="right">
						<i>Folio MV: </i><b>{{datos.folMv}}</b>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">							
                     	<i>Paciente: </i>
                        <b>{{datos.pac}}</b>                       
					</div>
					<div class="col-xs-6" align="right">
						<i>Fecha atenci&oacute;n: </i>
                        <b>{{datos.fecAt}}</b>
					</div>
				</div>

				<div class="row">
					<form ng-submit="validarCupon()">
						<div class="col-md-3">
							<input type="text" class="form-control" ng-model="cuponDescuento" placeholder="¿tienes algún cupón?" required>
						</div>
						<div class="col-md-1">
							<button class="btn btn-primary">Aceptar</button>
						</div>
						<div class="col-md-4" ng-show='errorCupon'>
							<div class="alert alert-danger">{{errorCupon}}</div>	
						</div>
					</form>
				</div>

				<div class="row" ng-show="claveProm==96">
					<form ng-submit="guardarMembresia()">
						<div class="col-xs-3">							
							<i>Si cuenta con membresía, ingrésela: </i>
							<input type="text" ng-model="memPaciente" required name="memPaciente" placeholder="ej. 003964" id="memPaciente" class="form-control">       									
						</div>
						<div class="col-xs-2" style="padding-top:1.3em">
							<button type="submit" class="btn btn-primary">Aceptar</button>
						</div>
					</form>							
				</div>	
				<div class="row" ng-show="erromem">								
					<div class="col-xs-5">							
						<label class="alert alert-danger">{{erromem}}</label>
					</div>														
				</div>	

				<div class="row">
					<div class="col-xs-12">							
             			<i>Items</i>
					</div>
				</div>
						
				<div class="row">
					<div class="col-xs-12">							
             			<div class="panel panel-default">
							<div class="panel-body">
							    <fieldset ng-disabled="formu">
							       	<form name="formularios.formItem" ng-submit="guardaItem()" novalidate>
							            <div class="row" ng-hide="verReciboDeducibleMetlife">                
							                <div class="col-xs-3">
							                    <div class="input-group">
							                        <label>Familia </label>
							                        <input type="hidden" id="folRec" name="folRec" value="<? echo $cveRecibo?>">
							                        <input type="hidden" id="fol" name="fol" value="<?echo $fol?>">      
							                        <select class="form-control" name="familia" id="familia" ng-model='items.fam' ng-change="selectItem()" ng-options="fam.Tip_clave as fam.Tip_nombre for fam in famItems" required>
							                            <option value=""> *Selecciona</option>
							                        </select>                     
							                    </div>
							                </div> 

							                <div class="col-xs-3">
							                    <div class="input-group" width="100%">
							                        <label>Item </label>
							                        <div id="selectItem" width="100%" ng-hide="cargador1">
							                            <select class="form-control" style="width:100%" name="item" ng-model="items.item" id="item" ng-options="item.ite_cons+'/'+item.ite_precio+'/'+item.permiso as item.ite_item for item in listItems" ng-change="ponerPrecio()" required mayusculas>
							                                <option value=""> * Selecciona  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</option>   
							                            </select> 
									                </div>
									                       
									              	<div ng-show="cargador1" align="center" style="hight:10em;">
									                	<img ng-src="imgs/cargador.gif">
									              	</div>
									            </div>

									            <div class="validacion" role="alert" ng-if="interacted(formularios.formItem.item)" ng-messages="formularios.formItem.item.$error">
									              	<div ng-message="required">campo requerido</div>            
									            </div>
									        </div>

							                <div class="col-xs-2">
							                    <div class="input-group">
							                        <label>Descuento</label> 
							                        <input type="hidden" id="folRec" name="folRec" value="<? echo $cveRecibo?>">
							                        <input type="hidden" id="fol" name="fol" value="<?echo $fol?>">         
							                        <input type="text" id="descuento" class="form-control solonum" ng-model="items.descuento" maxlength="10" name="descuento" placeholder="%" value="0" ng-disabled="Descuento">
							                    </div>

							                    <div align="center" ng-show="porMayor">
							                    	<label style="color:red" >máximo 100%</label>
							                    </div>
									        </div>

							                <div class="col-xs-2">
							                    <div class="input-group">
							                        <label>Precio</label>                                        
							                        <input type="text" id="precio" class="form-control" name="precio" ng-model='items.precio' placeholder="$" disabled>               
							                    </div>
							                </div>

							                <div class="col-xs-2" align="right" style="padding-top:1.8em">
							                    <div class="input-group">   
							                        <input  type="submit"  class="btn btn-success" value="Agregar Item">
							                    </div>
							                </div>
							            </div>      
									          
							            <div class="row">
							                <div class="col-xs-12">
							                    <div id="mensaje" style="display:none;">
							                    </div>
							                </div>
							            </div>

							            <div class="row" ng-show="verListadoItems">
							                <div class="col-xs-12">
							                    <div id="listaItemsRec" >
							                        <table id="TablaAlergias" align="center"  width="100%" style='font-size:13px' class="table table-striped table-hover table-condensed">
													  	<tr>          
													       	<th width="10%"><b>C&oacute;digo Registro</b></th>
													       	<th width="10%"><b>C&oacute;digo MV</b></th>
													      	<th width="20%"><b>Producto</b></th>         
													       	<th width="20%"><b>Descripci&oacute;n</b></th>
													       	<th width="15%"><b>Presentaci&oacute;n</b></th>
													       	<th width="5%"><b>Descuento</b></th>
													       	<th width="10%"><b>Precio</b></th>      
													        <th width="10%"><b>Eliminar</b></th>
													  	</tr>
												  		<tr ng-repeat="listIt in sumaItems">  
												           	<td>{{listIt.cveItem}}</td>
											                <td>{{listIt.cveMV}}</td>
											                <td>{{listIt.item}}</td>
											               	<td>{{listIt.desc}}</td>   
											                <td>{{listIt.pres}}</td> 
											                <td align='center'>{{listIt.descuento}}%</td>
											               	<td>{{listIt.precio}}</td>
											                <td><input type='button' class='btn btn-danger btn-xs'  ng-click='eliminarItemRec($index)' value='Eliminar'></td>
														</tr>

														<tr>
														  	<td colspan='6' align='right'>Subtotal</td>
														    <td>$ {{subtotal}}</td>
													        <td></td>
													    </tr>
													   	<tr>
													  		<td colspan='6' align='right'>Descuento</td>
									                		<td>$ {{descuento}}</td>
										              		<td></td>
													 	</tr>
													   	<tr ng-show="conCupon != 0">
													  		<td colspan='6' align='right'>Descuento Cupón</td>
									                		<td>15%</td>
										              		<td></td>
													 	</tr>


													 	<tr>
											               	<td colspan='6' align='right'>Total</td>
								                			<td><b>$ {{total}}</b></td>
								              				<td></td>
														</tr>
													</table>
												</div>
											</div>
										</div>

							            <div class="row">
											<div class="col-xs-12">	
												<div ng-show="cargador2" align="center" style="hight:10em;">
									                <img ng-src="imgs/cargador.gif">
									            </div>
											</div>
										</div>
									</form>
								</fieldset>
						    </div>
						</div>
					</div>
				</div>	

				<form name="formularios.formRecibo" ng-submit="guardaRecibo()" novalidate>
					<div class="row">
	                	<div class="col-md-3 col-md-offset-9" align="right">
	                    	<input type="hidden" id="items1" name="items1"> 
	                     	<input type="hidden" name="fec" id="fec" ng-model="datosRec.fec">  
                         	<input type="hidden" ng-model="datosRec.folRec">
                        </div>        
	            	</div>

					<div class="row" >
		                <div class="col-xs-5"> 
		                    <div class="input-group">
		                        <span class="input-group-addon">M&eacute;todo de pago: </span> 
		                           
		                        <select class="form-control" ng-disabled="formu" ng-model="datosRec.fPago" name="fPago" id="fPago" required ng-change="cechaMetodoPago()" mayusculas>
		                            <option value=""> *Selecciona</option>
		                            <option value="1" ng-hide="tarjetas">Efectivo</option>
		                            <option value="2">Tarjeta de cr&eacute;dito</option>
		                            <option value="3" ng-hide="scotia">Tarjeta de d&eacute;bito</option>
		                            <option value="4" ng-hide="tarjetas">Transferencia</option>
		                            <option value="6" ng-hide="tarjetas">AMEX</option>
		                            <option value="7" ng-hide="tarjetas">Múltiple</option>
		                            <option value="5" ng-hide="tarjetas">Cheque</option>
		                        </select>
		                    </div>

		                    <div class="validacion" role="alert" ng-if="interacted1(formularios.formRecibo.fPago)" ng-messages="formularios.formRecibo.fPago.$error">
				              	<div ng-message="required">campo requerido</div>
			              	</div>		               
	        			</div>

        				<div class="col-xs-5"> 
		                    <div class="input-group" ng-show="datosRec.medicoNombre">
		                        <span class="input-group-addon">M&eacute;dico: </span> 
		                        <input type="text" class="form-control" ng-model='datosRec.medicoNombre' ng-disabled="datosRec.medicoNombre"> 
		                        <input type="hidden"  ng-model="datosRec.medico">
		                    </div>
		                    <div class="input-group" ng-show="medicos">
		                        <span class="input-group-addon">M&eacute;dico: </span>                 
		                        <select class="form-control" ng-model='datosRec.medico' name="medico" id="medico" ng-options="medico.Med_clave as medico.Med_nombre+' '+medico.Med_paterno+' '+medico.Med_materno for medico in medicos" ng-required="medicos">
		                            <option value=''> *Selecciona</option>
		                        </select>    			                        
		                    </div>
		                    <div class="validacion" role="alert" ng-if="interacted1(formularios.formRecibo.medico)" ng-messages="formularios.formRecibo.medico.$error">
			              		<div ng-message="required">campo requerido</div>
			              	</div>			               
        				</div>
        			</div>

        			<div class="row">
        				<div class="col-md-5">
    						<div ng-show="rehabilitador">
                               <div class="input-group">
			                        <span class="input-group-addon">Comisión adicional: </span> 
			                           
			                        <select class="form-control" name="comision" id="comision" ng-model='datosRec.comision' ng-options="usu.Usu_login as usu.Usu_nombre for usu in listaRehab">
			                            <option value=""> *Selecciona</option>
			                        </select>
			                    </div>
			              	</div>    
    					</div>
        			</div>

    				<div class="row" > 
    					<div class="col-md-5">
    						<div ng-show="verEnfermeras">
                               <div class="input-group">
			                        <span class="input-group-addon">Enfermera: </span> 
			                           
			                        <select class="form-control" name="enfermera" id="enfermera" ng-model='datosRec.enfermera'  ng-options="enf.ENF_id as enf.ENF_nombre for enf in listaEnfermeras" ng-required="verEnfermeras">
			                            <option value=""> *Selecciona</option>
			                        </select>
			                    </div>
			                    <div class="validacion" role="alert" ng-if="interacted1(formularios.formRecibo.enfermera)" ng-messages="formularios.formRecibo.fPago.$error">
				              		<div ng-message="required">campo requerido</div>
				              	</div>
			              	</div>    
    					</div>

    					<div class="col-xs-5">
        				</div>
    					<div class="col-md-2" align="right" ng-hide="verDatosTarjeta||verDatosMultiple">
		                    <input type="submit" ng-disabled="formu" class='btn btn-primary' value="Guardar e Imprimir">
		                </div> 
    				</div>

    				<div class="row" ng-show="verDatosTarjeta">
		                <div class="col-xs-5"> 
		                    <div class="input-group">
		                        <span class="input-group-addon">Banco:</span> 
		                        <input type="text" class="form-control" ng-model="datosRec.banco" name="banco" id="banco" ng-required="verDatosTarjeta">   	                        
		                    </div>
		                    <div class="validacion" role="alert" ng-if="interacted1(formularios.formRecibo.banco)" ng-messages="formularios.formRecibo.banco.$error">
			              		<div ng-message="required">campo requerido</div>
			              	</div>
        				</div>

        				<div class="col-xs-5"> 
		                    <div class="input-group">
		                        <span class="input-group-addon">últimos 4 digitos:</span> 
		                        <input type="number" class="form-control" maxlength="4" minlength="4" ng-model="datosRec.terminacion" name="terminacion" id="terminacion" ng-required="verDatosTarjeta" >   	                        
		                    </div>
		                    <div class="validacion" role="alert" ng-if="interacted1(formularios.formRecibo.terminacion)" ng-messages="formularios.formRecibo.terminacion.$error">
			              		<div ng-message="required">campo requerido</div>				              	
				              	<div ng-message="minlength">deben ser 4 dígitos</div>
				              	<div ng-message="maxlength">deben ser 4 dígitos</div>
        					</div>
        				</div>

        				<div class="col-md-2" align="right">
		                    <input type="submit" ng-disabled="formu" class='btn btn-primary' value="Guardar e Imprimir">
		                </div> 
    				</div>

    				<div class="row" ng-show="verDatosMultiple">
    					<div class="col-xs-12"> 
							<div class="alert alert-danger" align="justify" style="font-size:16px">Favor de especificar los diferentes montos y metodos de pago con los que se cubrió este recibo. Es importante señalar la terminación en el caso de las tarjetas bancarias y verificar que la suma sea correcta.</div>
    					</div>
    				</div>

    				<div class="row" ng-show="verDatosMultiple">
		                <div class="col-xs-10"> 			                	
		                     <div class="input-group">
		                        <span class="input-group-addon">Observaciones:</span> 
		                        <textarea class="form-control" ng-model="datosRec.observaciones" name="obs" id="obs" ng-required="verDatosMultiple" style="resize: none" mayusculas></textarea>   	                        
		                    </div>
		                    <div class="validacion" role="alert" ng-if="interacted1(formularios.formRecibo.obs)" ng-messages="formularios.formRecibo.obs.$error">
			              		<div ng-message="required">Necesitas detallar el método de pago multiple</div>
			              	</div>		                

        				</div>	        				
        				<div class="col-md-2" align="right">
		                    <input type="submit" ng-disabled="formu" class='btn btn-primary' value="Guardar e Imprimir">
		                </div> 
    				</div>
    			</form>

			    <div class="row" ng-show='cargadorEnvia'> 
		            <div class="col-md-12">
		              	<div align="center" style="hight:10em;">
		                	<img ng-src="imgs/cargador.gif">
		              	</div>
		            </div>
		        </div>
			                   	        		        	
	            <div class="row" ng-show="mensaje">
	                <div class="col-md-12">
	                    <div id="respuesta" >
	                        <div class="alert alert-success">Tienes que agregar por lo menos un Item</div>
	                    </div>
	                </div>        
	            </div>

	            <div class="row" ng-show="guardado">
	                <div class="col-md-12">
	                    <div id="respuesta" >
	                        <div class="alert alert-success">Guardado Correctamente</div>
	                    </div>
	                </div>        
	            </div>

	            <div class="row" ng-show='cargador3'> 
		            <div class="col-md-12">
		              <div align="center" style="hight:10em;">
		                <img ng-src="imgs/cargador.gif">
		              </div>
		            </div>
		        </div>

	          	<div class="row" >
	            	<div class="col-md-3 " align="left">
	                    <button class='btn btn-primary' ng-click="irDocumentos()">Documentos</button>
	                </div>			                    
	            </div>       
		    </div><!-- End panel-body -->
		</div><!-- End panel panel-default --> 

    	<div class="modal fade bd-example-modal-lg" id="Reimprimir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<form name="agreAddendum" ng-submit="guardaAddendum()" novalidate>
				    <div class="modal-content">
				      	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        	<h4 class="modal-title" id="myModalLabel">Recibos generados</h4>
					    </div>

					    <div class="modal-body">
					    	<div>

								<table  align="center" style='font-size:13px;' class="table table-striped table-hover table-condensed table-responsive" style="width: 100%">
								          <tr>          
								            <th width="8%" ><b>Recibo</b></th>         
								            <th width="10%" ><b>Importe</b></th>
								            <th width="15%" ><b>Fecha Recibo</b></th>
								            <th width="20%" ><b>Estatus</b></th>
								            <th width="10%" ><b>Facturado</b></th>								            
								            <th width="10%" ><b>Imprimir</b></th>
								            <!-- <th width="10%" ><b>Imprimir</b></th> -->
								            <th width="10%" ><b>Subir Soporte</b></th>
								            <th width="10%" ><b>Tipo Factura</b></th>
								            <th width="10%" ><b>Imprime Factura</b></th>

								          </tr>
								          <tr ng-repeat="recibo in listarecibos">
								            <td width="10%">{{recibo.Recibo_serie}}{{recibo.Recibo_cont}} </td>
								            <td width="10%">${{recibo.Recibo_total}}</td>
								            <td width="15%" >{{recibo.Recibo_fecExp}}</td>
								            <td width="20%">
								            	<a ng-show="recibo.Recibo_cancelado==0 && (recibo.Recibo_soporte==0 || recibo.Recibo_soporte==null) && recibo.estatus == 'Recibo no facturado'" href="" ng-click="abreModalCancelacion1(recibo.Recibo_cont)">
			                                       	<span  tooltip-placement="buttom" tooltip-trigger tooltip="Cancelación de Recibo">
			                                          	<div class="text-success">Recibo Vigente</div>
			                                          	<!-- <em class="fa fa-close fa-stack-1x fa-inverse text-white"></em> -->
			                                       </span>
		                                        </a>
		                                        <a ng-show="recibo.Recibo_cancelado==1" href="">
			                                       	<span  tooltip-placement="buttom" tooltip-trigger tooltip="{{recibo.Recibo_motCancel}}">
			                                          	<div class="text-danger">Recibo Cancelado</div>
			                                          	<!-- <em class="fa fa-check fa-stack-1x fa-inverse text-white"></em> -->
			                                       </span>
		                                       </a>
								            </td>
<!-- 								            <td >
								            	<a ng-show="recibo.Recibo_cancelado==1" href="">
			                                       	<span class="fa-stack fa-lg" tooltip-placement="buttom" tooltip-trigger tooltip="Recibo cancelado">
			                                          	<em class="fa fa-circle fa-stack-2x text-success"></em>
			                                          	<em class="fa fa-check fa-stack-1x fa-inverse text-white"></em>
			                                       </span>
		                                       </a>
								            </td> -->
								            <td width="20%">
								            	<a ng-show="recibo.estatus =='Recibo Facturado'" href="">
			                                       	<span  tooltip-placement="buttom" tooltip-trigger tooltip="Recibo cancelado">
			                                          	<div class="text-success">Recibo Facturado</div>
			                                          	<!-- <em class="fa fa-check fa-stack-1x fa-inverse text-white"></em> -->
			                                       </span>
		                                        </a>
		                                        <a ng-show="recibo.estatus =='Recibo no facturado'" href="">
			                                       	<span  tooltip-placement="buttom" tooltip-trigger tooltip="Recibo cancelado">
			                                          	<div class="text-danger">Recibo no Facturado</div>
			                                          	<!-- <em class="fa fa-check fa-stack-1x fa-inverse text-white"></em> -->
			                                       </span>
		                                        </a>
								            </td>
<!-- 								            <td >
									            <a ng-show="recibo.Recibo_cancelado==0" href="" ng-click="reimprimirRecibo(recibo.Recibo_cont, recibo.Recibo_serie)">
			                                       	<span class="fa-stack fa-lg" tooltip-placement="buttom" tooltip-trigger tooltip="{{recibo.Recibo_motCancel}}">
			                                          	<em class="fa fa-circle fa-stack-2x text-success"></em>
			                                          	<em class="fa fa-print fa-stack-1x fa-inverse text-white"></em>
			                                       </span>
			                                     </a>


								            </td> -->
								            <td>
									            <a ng-show="recibo.Recibo_cancelado==0" href="" ng-click="reimprimirRecibo1(recibo.Recibo_cont, recibo.Recibo_serie)">
			                                       	<span class="fa-stack fa-lg" tooltip-placement="buttom" tooltip-trigger tooltip="Imprimir recibo">
			                                          	<em class="fa fa-circle fa-stack-2x text-success"></em>
			                                          	<em class="fa fa-print fa-stack-1x fa-inverse text-white"></em>
			                                       </span>
			                                     </a>

			                                     
								            </td>
								            <td width="10%">
								            	<a ng-show="recibo.Recibo_cancelado==0" href="" ng-click="abreModalsoporte(recibo.Recibo_cont)">
			                                       	<span class="fa-stack fa-lg" tooltip-placement="buttom" tooltip-trigger tooltip="Sube Soporte">
			                                          	<em class="fa fa-circle fa-stack-2x text-danger"></em>
			                                          	<em class="fa fa-upload fa-stack-1x fa-inverse text-white"></em>
			                                       </span>
		                                        </a>
								            </td>
								            <td ><div ng-show="recibo.estatus =='Recibo Facturado'">{{recibo.tipoFact}}</div></td>
								            <td>
								            	<a href="https://medicavial.net/registro/FacturasPropias/{{recibo.FAP_folioasociado}}/{{recibo.FAP_rfc}}_{{recibo.FAP_serie}}{{recibo.FAP_folio}}.xml" ng-show="recibo.estatus =='Recibo Facturado'" target="_blank" tooltip-trigger tooltip="{{recibo.FAP_rfc}}">ver xml</a><br>
								            	<a href="https://medicavial.net/registro/FacturasPropias/{{recibo.FAP_folioasociado}}/{{recibo.FAP_rfc}}_{{recibo.FAP_serie}}{{recibo.FAP_folio}}.pdf" ng-show="recibo.estatus =='Recibo Facturado'" target="_blank" tooltip-trigger tooltip="{{recibo.FAP_rfc}}">ver pdf</a></td>
								          </tr>
								</table><br>

								<div class="text-danger"><strong> NOTA: Solo se pueden cancelar, recibos activos que no tengan un soporte, que no este facturado y este dentro de las 24hrs de su emisión.</strong></div>
								<div class="text-danger"><strong> La cancelación surte efecto inmediatamente.</strong></div>
								<div class="text-danger"><strong> Para cualquier aclaración llamar a sistemas 55 55144700 ext 311.</strong></div>


					    		
					    	</div>


<!-- 						    <div ng-repeat="recibo in listarecibos" align="center" ng-show="usrLogin != 'algo'">
						    	<div class="row" style="padding-top:1.5em">
						    		<div class="col-md-8">
							    		<label for="" style="font-size:20px">Recibo No.<b>{{recibo.Recibo_serie}}{{recibo.Recibo_cont}} </b></label>
							    	</div>
							    	<div class="col-md-4" align="right">									    
										<div class="pull-right" ng-hide="recibo.Recibo_cancelado==1||recibo.Recibo_solCancel==1">
		                                    <a href="" ng-click="abreModalCancelacion(recibo.Recibo_cont)">
		                                       	<span class="fa-stack fa-lg" tooltip-placement="buttom" tooltip-trigger tooltip="Solicitud de cancelación">
		                                          	<em class="fa fa-circle fa-stack-2x text-danger"></em>
		                                          	<em class="fa fa-close fa-stack-1x fa-inverse text-white"></em>
		                                       </span>
		                                    </a>
	                                    </div>

	                                    <div class="pull-right" ng-show="recibo.Recibo_cancelado==1&&recibo.Recibo_solCancel==1">
		                                    <a href="">
		                                       	<span class="fa-stack fa-lg" tooltip-placement="buttom" tooltip-trigger tooltip="Recibo cancelado">
		                                          	<em class="fa fa-circle fa-stack-2x text-success"></em>
		                                          	<em class="fa fa-check fa-stack-1x fa-inverse text-white"></em>
		                                       </span>
		                                    </a>
	                                    </div>

		                                <div class="pull-right" ng-show="recibo.Recibo_solCancel==1&&recibo.Recibo_cancelado==0">
		                                    <a href="">
		                                       	<span class="fa-stack fa-lg" tooltip-placement="buttom" tooltip-trigger tooltip="Solicitud enviada">
		                                          	<em class="fa fa-circle fa-stack-2x text-primary"></em>
		                                          	<em class="fa fa-envelope-o fa-stack-1x fa-inverse text-white"></em>
		                                       </span>
		                                    </a>
	                                    </div>

	                                    <div class="pull-right">
		                                    <a href=""  ng-show="recibo.Recibo_cancelado==0" ng-click="reimprimirRecibo(recibo.Recibo_cont, recibo.Recibo_serie)">
		                                       	<span class="fa-stack fa-lg" tooltip-placement="buttom" tooltip-trigger tooltip="Imprimir recibo">
		                                          	<em class="fa fa-circle fa-stack-2x text-success"></em>
		                                          	<em class="fa fa-print fa-stack-1x fa-inverse text-white"></em>
		                                       </span>
		                                     </a>
	                                    </div>
	                                </div>
							    </div>
						    </div> -->
						</div> 
			        
				      
				      	<div class="modal-footer">				      
				        	<button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>				        
				      	</div>
				    </div>
				</form>
			</div>
		</div>
<!-- MODAL PARA SUBIR SOPORTE DE RECIBO -->

    	<div class="modal fade" id="myModalsoporte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				    <div class="modal-content">
				      	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        	<h4 class="modal-title" id="myModalLabel">Recibo {{folioModal}}</h4>
					    </div>

					    <div class="modal-body">

					    	<form ng-submit="guardasoporteRecibo(folioModal)">

						        <div class="row" >

						            <div class="col-md-5">

						                <input type="file" ng-file-select="onFileSelect_xml($files)" required>

						                <div ng-file-drop="onFileSelect_xml($files)" class="drop-box"  ng-file-drag-over-class="optional-css-class-name-or-function"

						                ng-show="dropSupported">Arrastra tu archivo

						                </div>

						                <div ng-file-drop-available="dropSupported=true"

						                ng-show="!dropSupported">HTML5 Drop File is not supported!

						                </div>

						            </div>

						             <div class="col-md-3">

						                <input type="submit" class="btn btn-primary" value="Guardar">

						            </div>

						        </div>

						        </form>

						        <div class="row">

						        	<table  align="center" style='font-size:13px;' class="table table-striped table-hover table-condensed table-responsive" style="width: 100%">
								          <tr>          
								            <th width="15%" ><b>Usuario</b></th>         
								            <th width="10%" ><a href="">Fecha</a></th>
								            <th width="10%" ><a href="">Soporte</a></th>

								          </tr>
								          <tr ng-repeat="soprecibo in soprecibos">

								          	<th width="15%" ><b>{{soprecibo.SRE_usuario}}</b></th>         
								            <th width="10%" >{{soprecibo.SRE_fecha}}</th>
								            <th width="10%" ><a href="http://medicavial.net/{{soprecibo.SRE_soporte}}" target="_blank">Ver</a></th>
								          	
								          </tr>
								      </table>
						        	
						        </div>

                           

						</div> 
			        
				      
				      	<div class="modal-footer">				      
				        	<button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>				        
				      	</div>
				    </div>
			</div>
		</div>

	</div><!-- END container -->

	<div class="row" ng-show='cargador'> 
		<div class="col-md-12">
		    <div ng-show="cargador" align="center" style="hight:10em;">
                <img ng-src="imgs/cargador.gif">
          	</div>
        </div>
    </div>
<!-- modal para cancelar el recibo -->

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Cancelación para el folio <b>{{folioModal}}</b></h4>
			    </div>

		      	<div class="modal-body">
			        <div class="container" style="width:100%;" id="verFormato">
						<div class="panel panel-primary">
							<div class="panel-body">
								<form name="enviaSolCancelacion" id="enviaSolCancelacion" ng-submit="enviaSolCancelRecibo(folioModal)"><br>
									<div class="row" id="campoFol">
										<div class="col-md-12" align="left">
											<div class="input-group">
												<span class="input-group-addon">Motivo de cancelaci&oacute;n:</span> 
								               	<input type="text" class="form-control" name="motivo" ng-model="datosCancelacion.motivoC" id="motivo" required mayusculas>        
								            </div>
										</div>				            
									</div>	

									<div class="row" id="campoFol">
										<div class="col-md-12" align="left">
											<div class="input-group">
												<span class="input-group-addon">Recibo Sustituto:</span> 
								               	<input type="text" class="form-control" name="sustituto" ng-model="datosCancelacion.sustituto" id="sustituto" required mayusculas>        
								            </div>
										</div>				            
									</div>																							
									<div class="row" id="campoObs">
										<div class="col-md-12" align="left">
											<div class="input-group">
								              	<span class="input-group-addon">Observaciones:</span> 
								               	<input type="text" class="form-control" name="Obs" ng-model="datosCancelacion.observaciones" id="Obs" mayusculas>        
								            </div>
										</div>				            
									</div>

									<div class="row" id="campousu" ng-show="usrLogin == 'algo'">
										<div class="col-md-12" align="left">
											<div class="input-group">
								              	<span class="input-group-addon">Solicitado por:</span> 
								               	<input type="text" class="form-control" name="Obs" ng-model="datosCancelacion.solicitado" id="Obs" mayusculas disabled>        
								            </div>
										</div>				            
									</div>

									<div class="row" id="campoObs">
										<div class="col-md-12" align="left">
											<div id="resultado">
												
											</div>
										</div>				            
									</div>

									<div class="row" ng-show="cargador">
					  		  			<div class='col-md-12' align="center">				           
				                            <img ng-src="imgs/cargador.gif">                                                 
							          	</div>    
					  		  		</div>	 									
								</form>
							</div>
						</div>
			        </div>
					      
				    <div class="modal-footer">
					    <button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>
					    <input type="Submit" class="btn btn-primary" id="botonEnvio" form="enviaSolCancelacion"  value="Enviar solicitud" />
					</div>
				</div>
			</div>
		</div>
		<!--    fin del modal   -->
	</div> 

	<!-- modal bueno para cancelacion -->

	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Cancelación para el folio <b>{{folioModal}}</b></h4>
			    </div>

		      	<div class="modal-body">
			        <div class="container" style="width:100%;" id="verFormato">
						<div class="panel panel-primary">
							<div class="panel-body">
								<form name="enviaCancelacion" id="enviaCancelacion" ng-submit="enviaCancelacionRecibo(folioModal)"><br>
									<div class="row" id="campoFol">
										<div class="col-md-12" align="left">
											<div class="input-group">
												<span class="input-group-addon">Motivo de cancelaci&oacute;n:</span> 
								               	<input type="text" class="form-control" name="motivo1" ng-model="datosCancelacion1.motivo" id="motivo1" required mayusculas>        
								            </div>
										</div>				            
									</div>	

									<div class="row" id="campoFol">
										<div class="col-md-12" align="left">
											<div class="input-group">
												<span class="input-group-addon">Recibo Sustituto:</span> 
								               	<input type="text" class="form-control" name="motivo2" ng-model="datosCancelacion1.folioSus" id="motivo2" required mayusculas>        
								            </div>
										</div>				            
									</div>																							
									<div class="row" id="campoObs">
										<div class="col-md-12" align="left">
											<div class="input-group">
								              	<span class="input-group-addon">Observaciones:</span> 
								               	<input type="text" class="form-control" name="Obs" ng-model="datosCancelacion1.Obs" id="Obs" mayusculas>        
								            </div>
										</div>				            
									</div>

									<div class="row" id="campousu" ng-show="usrLogin == 'algo'">
										<div class="col-md-12" align="left">
											<div class="input-group">
								              	<span class="input-group-addon">Solicitado por:</span> 
								               	<input type="text" class="form-control" name="Obs" ng-model="datosCancelacion1.solicitado" id="Obs" mayusculas disabled>        
								            </div>
										</div>				            
									</div>

									<div class="row" id="campoObs">
										<div class="col-md-12" align="left">
											<div id="resultado">
												
											</div>
										</div>				            
									</div>

									<div class="row" ng-show="cargador">
					  		  			<div class='col-md-12' align="center">				           
				                            <img ng-src="imgs/cargador.gif">                                                 
							          	</div>    
					  		  		</div>	 									
								</form>
							</div>
						</div>
			        </div>
					      
				    <div class="modal-footer">
					    <button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>
					    <input type="Submit" class="btn btn-primary" id="botonEnvio" form="enviaCancelacion"  value="Enviar" />
					</div>
				</div>
			</div>
		</div>
		<!--    fin del modal   -->
	</div> 

	<div class="modal fade" id="mensajeDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel"><b>Alerta de Items</b></h4>
      			</div>
      			<div class="modal-body">
        			<div class="container" style="width:100%;" id="verFormato">
						<div class="panel panel-primary">
							<div class="panel-body">
								<h2>{{msjDoc}}</h2>
							</div>
						</div>
        			</div>

        			<div class="modal-footer">
        				<button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>        
      				</div>
    			</div>
  			</div>
		</div>
		<!--    fin del modal   -->
	</div>

	<div class="modal fade" id="mensajeDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title" id="myModalLabel"><b>Alerta de Items</b></h4>
	      		</div>

	      		<div class="modal-body">
	        		<div class="container" style="width:100%;" id="verFormato">
						<div class="panel panel-primary">   
				      		<div class="panel-body">
								<h2>{{msjDoc}}</h2>
							</div>
						</div>
			        </div>
	      
	      			<div class="modal-footer">
	        			<button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>        
	      			</div>
	    		</div>
	  		</div>
		</div>
		<!--    fin del modal   -->
	</div>

	<div class="modal fade" id="semanaSanta" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h4 class="modal-title" id="myModalLabel"><b>Promoción extra para Facebook de Semana Santa</b></h4>
      			</div>
	      		<div class="modal-body">
	        		<div class="container" style="width:100%;" id="verFormato">
						<form name="CuponFacebook" id="CuponFacebook" ng-submit="validarCupon()">
							<label>Ingresa el código de descuento</label>
			                <input  class="form-control" type="text" name="cobro" ng-model="cuponDescuento" required><br>		
			        		<div ng-show="errorCupon" class="alert alert-danger">{{errorCupon}}</div>
			        	</form>	
			 		</div>
	        	</div>
      
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>    
	        		<button type="submit" class="btn btn-primary" form="CuponFacebook" >Guardar</button>        
	      		</div>
	    	</div>
	  	</div>
	</div>
	<!--    fin del modal   -->
</div>
	
<div class="modal fade" id="tipoPago" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      	<div class="modal-content">
        	<div class="modal-header">
        		<h4 class="modal-title">Elegir tipo de cobro</h4>
        	</div>
        	<div class="modal-body">
        		<form name="tipoCobro" id="tipoCobro" ng-submit="elegirTipocobro()">
        			<div class="radio c-radio">
        				<label>
        					<input type="radio" name="cobro" ng-model="tipoCobro" ng-value="cveMem" required>
                		<span class="fa fa-circle"></span>{{nomMem}}</label>
          			</div>

          			<div class="radio c-radio">
             			<label>
                			<input type="radio" name="cobro" ng-model="tipoCobro" ng-value="cveConvenio" required>
                		<span class="fa fa-circle"></span>{{nomConvenio}}</label>
          			</div>
        		</form>

		        <div class="modal-footer">
		          	<button type="submit" form="tipoCobro" class="btn btn-default">Aceptar</button>
		        </div>
		    </div>
		</div>
  	</div>
</div>