<div>
	<h2>Reportes de Particulares</h2>
	<form name="rParticulares" ng-submit="enviaParametros()">
		<br>
		<div class="row">
			<div class="col-md-3">
          <div class="input-group ">
              <span>Fecha inicial:</span>
              <input type="text" ng-model="reporte.fechaIni" name="fecha1" id="fecha1" class= "form-control" data-date-format="YYYY-MM-DD" data-datetimepicker-confg="{ dropdownSelector: '.dropdown-toggle' }" required>
          </div>                         
      </div>

      <div class="col-md-3">
          <div class="input-group ">
              <span>Fecha final:</span>
              <input type="text" ng-model="reporte.fechaFin" name="fecha2" id="fecha2" class= "form-control" data-date-format="YYYY-MM-DD" data-datetimepicker-confg="{ dropdownSelector: '.dropdown-toggle' }" required>
          </div>  
      </div>

			<div class="col-md-3">
				<div class="input-group " style="width:90%">
            <span>Unidad: </span>
            <select name="uni" id="uni" ng-model="reporte.unidad" class="form-control" ng-options="uni.Uni_clave as uni.Uni_nombrecorto  for uni in listadoUnidades">
                <option value=""> TODAS LAS PROPIAS </option>
            </select>
        </div>  
			</div>

			<div class="col-md-3">
				<div class="input-group " style="width:90%">
            <span>Compañía: </span>
            <select name="cia" id="cia" ng-model="reporte.compania" class="form-control" ng-options="cia.Cia_clave as cia.Cia_nombrecorto  for cia in listadoCompanias">
                <option value=""> TODAS </option>
            </select>
        </div>  
			</div>

			<div class="col-md-12" style="padding-top:1em;" align="center">
        <br>
				<div class="input-group" style="width:100%">
            <input type="Submit" class="btn btn-primary btn-lg" value="Generar Reporte"/>     
        </div>  
			</div>
		</div>
	</form>
  
  <br ng-show="cargador">
  <div class="row" ng-show="cargador">
    <div class="col-md-12">
      <div  align="center">
        <img ng-src="imgs/cargador.gif">
      </div>
    </div>
  </div>
            
  <div class="row" ng-show="mensaje">
    <div class="col-md-12">
      <div align="center">
        <div class="alert alert-warning">
          Sin registros
        </div>
      </div>
    </div>
  </div>
            
  <hr ng-show="listadoReporte">

  <div class="row" ng-show="listadoReporte">
    <h5>Ver / ocultar datos</h5>
    <div class="col-md-2">
      <div class="checkbox c-checkbox" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="ver.folioMV" disabled>
          <span class="fa fa-check"></span>
          Folio MV
        </label>
      </div>

      <div class="checkbox c-checkbox" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="ver.nombrePaciente">
          <span class="fa fa-check"></span>
          Nombre del Paciente
        </label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="checkbox c-checkbox" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="ver.fechaRegistro">
          <span class="fa fa-check"></span>
          Fecha de registro
        </label>
      </div>

      <div class="checkbox c-checkbox" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="ver.facturado">
          <span class="fa fa-check"></span>
          Facturación
        </label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="checkbox c-checkbox" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="ver.banco">
          <span class="fa fa-check"></span>
          Banco
        </label>
      </div>

      <div class="checkbox c-checkbox" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="ver.tarjeta">
          <span class="fa fa-check"></span>
          Tarjeta
        </label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="checkbox c-checkbox" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="ver.medico">
          <span class="fa fa-check"></span>
          Médico
        </label>
      </div>

      <div class="checkbox c-checkbox" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="ver.unidad">
          <span class="fa fa-check"></span>
          Unidad
        </label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="checkbox c-checkbox" >
        <label>
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="ver.cia">
          <span class="fa fa-check"></span>
          Tipo
        </label>
      </div>
    </div>
  </div>

  <div class="panel panel-default" ng-show="listadoReporte" style="width: 100%; margin: auto;">
    <div class="row" ng-show="listadoReporte">
      <div class="col-md-12">
        <table  align="center" style='font-size:13px;' class="table table-striped table-hover table-condensed table-responsive" style="width: 100%">
          <tr>          
            <th width="2%"><b>#</b></th>
            <th width="6%" ng-show="ver.folioMV==1"><b>Folio MV</b></th>
            <th width="17%" ng-show="ver.nombrePaciente==1"><b>Nombre</b></th>         
            <th width="10%" ng-show="ver.fechaRegistro==1"><b>Registro</b></th>
            <th width="8%" ng-show="ver.cia==1"><b>Tipo</b></th>
            <th width="8%" ng-show="ver.unidad==1"><b>Unidad</b></th>
            <th width="8%" ng-show="ver.medico==1"><b>Médico</b></th>
            <th width="4%"><b>Recibo</b></th>
            <th width="15%"><b>Fecha del Recibo</b></th>
            <th width="6%"><b>Total</b></th>
            <th width="10%"><b>Pago</b></th>
            <th width="2%" ng-show="ver.facturado==1"><b>Facturado</b></th>
            <th width="10%" ng-show="ver.banco==1"><b>Banco</b></th>
            <th width="4%" ng-show="ver.tarjeta==1"><b>Tarjeta</b></th>
            <th width="6%"><b>Recibo aplicado</b></th>
          </tr>
          <tr ng-repeat="listado in listadoReporte">                         
            <td style="color: #aaa">{{$index + 1}}</td>
            <td ng-show="ver.folioMV==1">{{listado.FOLIO}}</td>
            <td ng-show="ver.nombrePaciente==1">{{listado.NOMBRE}}</td>
            <td ng-show="ver.fechaRegistro==1">{{listado.FECHA_REGISTRO}}</td>
            <td ng-show="ver.cia==1">{{listado.COMPANIA}}</td>
            <td ng-show="ver.unidad==1">{{listado.UNIDAD}}</td>
            <td ng-show="ver.medico==1">{{listado.MEDICO}}</td>
            <td style="color: #880000">{{listado.FOLIO_RECIBO}}</td>
            <td>{{listado.FECHA_RECIBO}}</td>
            <td style="font-weight: bold">{{listado.TOTAL | currency}}</td>
            <td>{{listado.METODO_PAGO}}</td>
            <td ng-show="ver.facturado==1">{{listado.FACTURADO}}</td>
            <td ng-show="ver.banco==1">{{listado.BANCO}}</td>
            <td ng-show="ver.tarjeta==1">{{listado.TERMINACION}}</td>
            <td>{{listado.RECIBO_APLICADO | currency}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
            
  <br><br>

  <div class="row" ng-show="listadoReporte">
    <div class="col-md-6" align="center">
      <div class="input-group" style="width:100%">
        <input type="button" ng-click="excelReportes()" class="btn btn-success btn-md" value="Exportar a Excel" ng-disabled="cargaRep"/>
      </div>  
    </div>

    <div class="col-md-6" align="center">
      <div class="input-group" style="width:100%">
        <input type="button" ng-click="pdfReportes()" class="btn btn-danger btn-md" value="Generar PDF" ng-disabled="cargaRep"/>
      </div>  
    </div>
  </div>

  <div class="row" ng-show="cargaRep">
      <div class="col-md-12">
        <div  align="center">
          <img ng-src="imgs/cargador.gif">
        </div>
      </div>
  </div>

  <br><br><br>

</div>



<script type="text/javascript">
       $('#fecha1').datetimepicker({         
        pickTime: false,                 //en/disables the time picker            
        language:'es'                  //sets language locale
    });
        $('#fecha2').datetimepicker({         
        pickTime: false,                 //en/disables the time picker            
        language:'es'                  //sets language locale
    });

        $('#hora1').datetimepicker({
            pickDate: false,
            format: 'LT',
            locale: 'mx',
            language:'es',
            startTime: '12:00',
        });

        $('#hora2').datetimepicker({
            pickDate: false,
            format: 'LT',
            locale: 'mx',
            language:'es',
            startTime: '12:00',
        });
</script>