<h4>Rangos de Movilidad para Cervical</h4>
<div class="row">
	<div class="col-md-6">
		<div class="input-group">
		    <span class="input-group-addon">Flexión</span>
		    <input type="number" class="form-control" min="0" ng-model="histClinicaReh.flexion" ng-required="histClinicaReh.region==1">
		    <span class="input-group-addon">°</span>
		</div>
		<div role="alert" style="color: red; font-size:0.9em;">
		  {{error2}}
		</div>
	</div>

	<div class="col-md-6">
		<div class="input-group">
		    <span class="input-group-addon">Extensión</span>
		    <input type="number" class="form-control" min="0" ng-model="histClinicaReh.extension" ng-required="histClinicaReh.region==1">
		    <span class="input-group-addon">°</span>
		</div>
		<div role="alert" style="color: red; font-size:0.9em;">
		  {{error2}}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="input-group">
		    <span class="input-group-addon">Lateralizaciones</span>
		    <input type="number" class="form-control" min="0"  ng-model="histClinicaReh.lateralizacion" ng-required="histClinicaReh.region==1">
		    <span class="input-group-addon">°</span>
		</div>
		<div role="alert" style="color: red; font-size:0.9em;">
		  {{error2}}
		</div>
	</div>

	<div class="col-md-6">
		<div class="input-group">
		    <span class="input-group-addon">Rotaciones</span>
		    <input type="number" class="form-control" min="0" ng-model="histClinicaReh.rotaciones" ng-required="histClinicaReh.region==1">
		    <span class="input-group-addon">°</span>
		</div>
		<div role="alert" style="color: red; font-size:0.9em;">
		  {{error2}}
		</div>
	</div>
</div>